/* grid c4 */

.grid-two-item .grid-common .grid-c4 {
  background-color: var(--clr-white);
}
.grid-c4 .grid-c-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  padding: 10px;
  border-radius: 8px;
}
.grid-c4-content {
  margin-top: 20px;
  background-color: var(--clr-white);
}
.grid-c4 .grid-c4-content {
  padding: 12px;
}
.grid-c4 .grid-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}
.grid-c4 .grid-item-l {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}
.grid-c4 .grid-item-l .icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.grid-c4 .grid-item-l .icon img {
  width: 30px;
  height: 40px;
  object-fit: cover;
}
.grid-c4 .grid-item-l .text {
  font-weight: 600;
  color: #000;
}
.grid-c4 .grid-item-l .text span {
  font-weight: 300;
  font-size: 15px;
  display: block;
  margin-top: 5px;
  opacity: 0.9;
}

.grid-item-r {
}
.text {
  font-size: 10px;
  color: black;
}

.text2 {
  font-size: 10px;
  color: grey;
  text-transform: capitalize;
  font-weight: 500;
}
