/* grid c4 */

.grid-two-item .grid-common .grid-c4 {
  background-color: var(--clr-white);
}
.grid-c4 .grid-c-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  padding: 10px;
  border-radius: 8px;
}
.grid-c-title-text {
  font-weight: bold;
  color: black;
}
.grid-c4-content {
  margin-top: 20px;
  background-color: var(--clr-white);
}
.grid-c4 .grid-c4-content {
  padding: 12px;
}
.grid-c4 .grid-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}
.grid-c4 .grid-item-l {
  display: flex;
  align-items: flex-start;
  column-gap: 4px;
}
.grid-c4 .grid-item-l .icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.grid-c4 .grid-item-l .icon img {
  width: 30px;
  height: 40px;
  object-fit: cover;
}
.grid-c4 .grid-item-l .text {
  font-weight: 600;
  color: #000;
}
.grid-c4 .grid-item-l .text span {
  font-weight: 300;
  font-size: 8px;
  display: block;
  margin-top: 5px;
  opacity: 0.9;
}

.grid-c-top {
  border: 1px solid gray;
  padding: 10px;
}
.grid-c-top input {
    border: 1px solid gray;
    border: none;
  }

.icon {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}

.icon img {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}
