/* main content holder */
.main-content-holder {
  display: grid;
  row-gap: 20px;
  padding: 10px;
}
.content-grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}
.content-grid-two {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 16px;
}

.grid-holder {
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 10px;
}
.subgrid-two {
  display: grid;
  row-gap: 20px;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .content-grid-one,
  .content-grid-two {
    column-gap: 12px;
  }
  .main-content-holder,
  .subgrid-two {
    row-gap: 12px;
  }
}

@media screen and (max-width: 992px) {
  .content-grid-one {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
  }
  .content-grid-two {
    grid-template-columns: repeat(2, 1fr);
  }
  .content-grid-two .grid-two-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .content-grid-two .grid-two-item:nth-child(3) .subgrid-two {
    grid-template-columns: repeat(2, 1fr);
    height: 220px;
    column-gap: 12px;
  }
  .content-grid-two {
    row-gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .Message {
    display: none;
  }
  .text2 {
    font-weight: bold;
    text-decoration: capitalize;
    color: black;
    font-size: 10px;
  }
  .content-grid-one {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }

  .grid-holder {
    grid-template-columns: 1fr;
    width: 100%;
    column-gap: 5px;
  }
  .content-grid-two {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
  .content-grid-two .grid-two-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .content-grid-two .grid-two-item:nth-child(3) .subgrid-two {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  .content-grid-two .grid-two-item:nth-child(3) .subgrid-two .subgrid-two-item {
    height: 220px;
  }
}

/* conversation */

.coversation {
  padding: 20px;
  height: 100vh;
  width: 100%;
}

.coversation-holder {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
  margin-top: 20px;
}

.coversation-holder div:nth-child(1) {
  grid-row: 1;
  color: aquamarine;
}

.coversation-holder div:nth-child(2) {
}

@media screen and (max-width: 768px) {
  .coversation-holder {
    display: grid;
    grid-template-rows: 1fr 3fr;
    column-gap: 10px;
  }

  .coversation-holder div:nth-child(1) {
    grid-row: 1;
    color: aquamarine;
  }

  .coversation-holder div:nth-child(2) {
  }
}

.top-conversation {
  display: flex;
  justify-content: space-between;
}

.text2 {
  font-weight: bold;
  text-decoration: capitalize;
  color: black;
  font-size: 20px;
}

.btn {
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: #5570f1;
  color: white;
  border-radius: 10px;
  display: flex;
}
