/* grid c6 */

.subgrid-two-item .grid-common .grid-c6 {
  background-color: white;
  background: 8px;
  padding: 10px;
}

.container {
  background-color: var(--clr-white);
  padding: 10px;
  border-radius: 8px;
}

.test {
  display: flex;
  justify-content: space-between;
}

.newtext{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: lighter;
  color: grey;
}

.holder{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    #ff6384 0% 15%,
    #36a2eb 15% 30%,
    #ffcd56 30% 50%,
    #4bc0c0 50% 70%,
    #9966ff 70% 85%,
    #ff9f40 85% 100%
  );
/* 
.pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transform: rotate(-90deg); /* Start the first slice from the top */
}

.slice {
  width: 100%;
  height: 100%;
  position: absolute;
  clip: rect(0, 100px, 200px, 0); /* Clip the section to create a pie slice */
  border-radius: 50%;
}

.slice-1 {
  background-color: #ff6384; /* Replace with the color for the first slice */
  transform: rotate(45deg); /* Angle for the first slice */
}

.slice-2 {
  background-color: #36a2eb; /* Replace with the color for the second slice */
  transform: rotate(90deg); /* Angle for the second slice */
}
