.main-content {
  background-color: #f4f5fa;
  flex: 1;
  /* padding: 32px; */
}

@media screen and (max-width: 1400px) {
  .main-content {
    /* padding-left: 10px;
    padding-right: 20px; */
  }
}

@media screen and (max-width: 1200px) {
  .main-content {
    /* padding-right: 16px;
    padding-left: 16px; */
  }
}
