/* main content top */
.main-content-top {
  display: flex;
  background-color: var(--clr-white);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
}
.sidebar-toggler {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.sidebar-toggler img {
  width: 20px;
}
.content-top-title {
  color: var(--clr-black);
  font-size: 20px;
  font-weight: 600;
}
.content-top-btn {
  margin-left: 18px;
}

.content-top-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-top-btn img {
  width: 24px;
}

@media screen and (max-width: 768px) {
  .content-top-btns{
    display: none;

  }
}
.content-top-btn img:hover {
  filter: brightness(0) invert(1);
}
.content-top-left {
  display: flex;
  align-items: center;
}

.nanny-btn {
  background-color: #fffcfa;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  font-family: Poppins;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bell {
  color: #5570f1;
  font-size: 20px;
}

.img-btn {
  height: 50px;
  width: 50px;
  padding-left: 10px;
border-radius: 8px;
}

.img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
}
