.chatbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}

.top {
  height: 60px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.profile {
  display: flex;
  color: #000;
}

.Img {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.Img img {
  height: 50px;
  border-radius: 8px;
  width: 50px;
  object-fit: cover;
}

.test {
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: bold;
  color: #000;
  display: flex;
  flex-direction: column;
}

.online-div {
  align-items: center;
  color: grey;
  display: flex;
  font-weight: lighter;
}

.second-div {
  display: flex;
  flex-direction: column;
}

.second-div-holder {
  display: flex;
  color: #000;
}

.chatbox-messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* .chatbox {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
} */

.message {
  border-radius: 5px;
  padding: 8px;
  margin: 5px 0;
  max-width: 80%;
}

/* .message.other {
  align-self: flex-start;
  background-color: #f0f0f0;
  color: #333;
} */

.message {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 8px;
  margin: 5px 0;
}

.message.user {
  align-self: flex-end;
  background-color: #ffead1;
  color: #000;
  padding: 20px 8px;
  border-radius: 8px 8px 8px 0px;
}

.p-tag {
  align-self: flex-end;
  color: #000;
  font-size: 10px;
}

.p-n {
  color: #000;
  font-size: 10px;
}

.message.other {
  align-self: flex-start;
  color: white;
  background-color: #5570f1;
  padding: 30px 8px;
  border-radius: 8px 8px 8px 0px;
}

.chatbox-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: center;
}

.input-holder {
  display: flex;
}

.chatbox-input input {
  flex: 1;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
  margin-left: 10px;

  width: 580px;
  /* height: 50px; */
}

.chatbox-input button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffead1;
  color: #000;
  cursor: pointer;
}

.logo {
  background-color: #ffead1;
  color: #000;
  border-radius: 2px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo2 {
  color: #000;
  border-radius: 2px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
